{% extends "base.html" %}

{% block title %}Add Restaurant{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Restaurant</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.description.label }} {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rating.label }} {{ form.rating(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address_line_1.label }} {{ form.address_line_1(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.address_line_2.label }} {{ form.address_line_2(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.number.label }} {{ form.number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.city.label }} {{ form.city(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.state.label }} {{ form.state(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.country.label }} {{ form.country(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.zipcode.label }} {{ form.zipcode(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.style.label }} {{ form.style(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.thumbnail_url.label }} {{ form.thumbnail_url(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.menu_url.label }} {{ form.menu_url(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Add Restaurant</button>
    </form>
</div>
{% endblock %}