{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<title>{{ restaurant.name }} - Restaurant Details</title>
	<!-- Include your CSS and JS files here -->
    <link rel="stylesheet" href="\static\restaurant_specifics.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-img">
				<img src="{{ restaurant_images.thumbnail_image }}" alt="{{ restaurant.name }}" class="img-fluid">
			</div>
			<div class="col-info">
				<h1>{{ restaurant.name }}</h1>
				<p>{{ restaurant.description }}</p>
				<p><strong>Address:</strong> {{ restaurant.address_line_1 }}, {{ restaurant.address_line_2 }}</p>
        <p>{{ restaurant.city }}, {{ restaurant.state }} {{ restaurant.zipcode }}, {{ restaurant.country }}</p>
				<p><strong>Phone:</strong> {{ restaurant.number }}</p>
				<p><strong>Style:</strong> {{ restaurant.style }}</p>
        <button onclick="window.location.href+='/review';">Write Review</button>
			</div>
			</div>
            <div class="row">
              <div class="col-12">
                <div class="stars">
                  {% for i in range(1, 6) %}
                    {% if i <= restaurant.rating |float %}
                      <i class="fa fa-star filled"></i>
                    {% else %}
                      <i class="fa fa-star empty"></i>
                    {% endif %}
                  {% endfor %}
                  {#Testing for database heart#}
                  {% if current_user.is_authenticated %}
                    {% if favorite and favorite.favorite %}
                      <button class="heart filled" data-restaurant-id="{{ restaurant.id }}" data-user-id="{{ current_user.id }}">&#9829;</button>
                    {% else %}
                        <button class="heart" data-restaurant-id="{{ restaurant.id }}" data-user-id="{{ current_user.id }}">&#9829;</button>
                    {% endif %}
                  {% endif %}

                  <script>
                    const heartButton = document.querySelector('.heart');
                    const user_id =  current_user.id ;
                    const restaurant_id =  restaurant.id ;

                    heartButton.addEventListener('click', async () => {
                      const response = await fetch(`/toggle_favorite/${user_id}/${restaurant_id}`);
                      const data = await response.json();
                      if (data.is_favorite) {
                        heartButton.classList.add('filled');
                      } else {
                        heartButton.classList.remove('filled');
                      }
                    });   
                  </script>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
                <div class="menu-section">
                    <h2>{{ restaurant.name }}'s Menu</h2>
                    <img src="{{ restaurant_images.menu_image }}" alt="{{ restaurant.name }} menu">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="list-group">
            <h2>Reviews</h2>
            {% for note in notes %}
            {% for user in users %}
              {% if user.id == note.user_id and restaurant.id == note.restaurant_id %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ user.first_name  }}</h5>
                        {% for i in range(1, 6) %}
                          {% if i <= note.rating %}
                            <i class="fa fa-star filled"></i>
                          {% else %}
                            <i class="fa fa-star empty"></i>
                          {% endif %}
                        {% endfor %}
                        <small>{{ note.date }}</small>
                        <p class="card-text">{{ note.data }}</p>
                      </div>
                    </div>
                </a>
              {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

</body>


{% endblock %}