{% extends "base.html" %}

{% block title %}Leave Review{% endblock %}

{% block content %}
<div class="container">
    <h1>Write Review</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.reviewText.label }} {{ form.reviewText(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.rating.label }} {{ form.rating(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Finish Review</button>
    </form>
</div>
{% endblock %}